<div id="files" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Files</h3>
  </div>
  <div class="modal-body">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th class="yellow">Name</th>
          <th class="blue">By</th>
          <th class="green">Uploaded At</th>
          <th class="purple">Delete</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <!--div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
  </div-->
</div>

