<footer>
  <p><small>powered by <a href="http://looseleafjs.org/">LooseLeaf.JS</a> with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></small></p>
</footer>

<script src="/javascripts/lib/jquery-1.6.4.min.js"></script>

