<footer>
  <p><small>powered by <a href="http://looseleafjs.org/">LooseLeaf.JS</a> with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></small></p>
</footer>

<%- partial('./shared/files') %>

<script src="/javascripts/lib/jquery-1.6.4.min.js"></script>
<!-- jquery plugins -->
<script src="/javascripts/lib/jquery.timeago.js"></script>
<script src="/javascripts/lib/activity-indicator.js"></script>
<script src="/javascripts/lib/jquery.tablesorter.min.js"></script>
<script src="/javascripts/lib/cleditor/jquery.cleditor.js"></script>
<script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.xhtml.js"></script>
<script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.advancedtable.js"></script>
<!--script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.table.js"></script-->
<script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.icon.js"></script>

<!-- bootstarp -->
<script src="/javascripts/lib/google-code-prettify/prettify.js"></script>
<script src="/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-modal.js"></script>

<!-- looseleaf -->
<script src="/javascripts/lib/ejs.min.js"></script>

