  <link rel="stylesheet" href="/javascripts/lib/google-code-prettify/prettify.css" />
  <link rel="stylesheet" href="/javascripts/lib/cleditor/jquery.cleditor.css" />
</head>
<body>

<%- partial('./shared/header') %>

<div class="container" id="main">
</div>

<%- partial('./shared/footer') %>

<script>
var users = <%- JSON.stringify(users) %>;
</script>
<% if (req.session.user) { %>
<script>
var user = <%- JSON.stringify(req.session.user) %>;
</script>
<% } %>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/users.js"></script>

