  <link rel="stylesheet" href="/javascripts/google-code-prettify/prettify.css" />
</head>
<body>

<div class="topbar" data-dropdown="dropdown">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/"><%= config.site.title %></a>

      <form class="pull-left" action="" id="searchForm">
        <input type="text" placeholder="Search" />
      </form>

      <p class="pull-right" id="loginLink">
      <% if (req.session.user) { %>
        Logged in as <a href="#"><%= req.session.user.username %></a></p>
      <% } else {%>
        <a href="#">Log in</a>
      <% } %>
      </p>

      <form action="/auth/login" method="post" class="pull-right" id="loginForm">
        <input class="input-small" type="text" name="user[username]" id="user_username" placeholder="Username">
        <input class="input-small" type="password" name="user[password]" id="user_password"  placeholder="Password">
        <button class="btn" type="submit">Log in</button>
      </form>

    </div>
  </div>
</div>

<div class="container">

  <%- partial('./shared/post', posts) %>

  <footer>
    <p><small>powered by <a href="http://looseleafjs.org/">LooseLeaf.JS</a> with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></small></p>
  </footer>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery-1.6.4.min.js"></script>
<script src="/javascripts/jquery.timeago.js"></script>
<script src="/javascripts/activity-indicator.js"></script>
<script src="/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-modal.js"></script>
<script src="/bootstrap/js/bootstrap-alerts.js"></script>
<script src="/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap/js/bootstrap-tabs.js"></script>
<script src="/javascripts/bottom.js"></script>
<script src="/javascripts/ejs.min.js"></script>
<script src="/javascripts/render.js"></script>
<script src="/javascripts/script.js"></script>
<!--script>var posts = <%- JSON.stringify(posts) %>;</script-->

