<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/theme/<%= site.theme %>/import.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<title><%= pageTitle %> - <%= site.name %></title>
	<link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
<%- body %>
</body>
</html>
