<!DOCTYPE html>
<html>
<head>
  <title><%= config.site.title %></title>
  <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/container-app.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
<%- body %>
</body>
</html>
