  <link rel="stylesheet" href="/javascripts/google-code-prettify/prettify.css" />
  <link rel="stylesheet" href="/javascripts/cleditor/jquery.cleditor.css" />
</head>
<body>

<%- partial('./shared/header') %>

<div class="container">
<!--
<div class="container-fluid">
-->

      <div class="sidebar">
        <div class="well">
          <h5>Sidebar</h5>
          <ul>

            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <h5>Sidebar</h5>

          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>

            <li><a href="#">Link</a></li>
          </ul>
          <h5>Sidebar</h5>
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>

        </div>
      </div>

  <%- partial('./shared/post', posts) %>

</div>

<%- partial('./shared/footer') %>

<script src="/socket.io/socket.io.js"></script>

<!-- jquery plugins -->
<script src="/javascripts/jquery.timeago.js"></script>
<script src="/javascripts/activity-indicator.js"></script>
<script src="/javascripts/jquery.copycss.js"></script>
<script src="/javascripts/cleditor/jquery.cleditor.js"></script>
<script src="/javascripts/cleditor/plugins/jquery.cleditor.xhtml.js"></script>
<script src="/javascripts/cleditor/plugins/jquery.cleditor.advancedtable.js"></script>
<!--script src="/javascripts/cleditor/plugins/jquery.cleditor.table.js"></script-->
<script src="/javascripts/cleditor/plugins/jquery.cleditor.icon.js"></script>

<!-- bootstarp -->
<script src="/javascripts/google-code-prettify/prettify.js"></script>
<script src="/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-modal.js"></script>
<script src="/bootstrap/js/bootstrap-alerts.js"></script>
<script src="/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap/js/bootstrap-tabs.js"></script>

<!-- looseleaf -->
<script src="/javascripts/bottom.js"></script>
<script src="/javascripts/ejs.js"></script>
<script src="/javascripts/renderer.js"></script>
<script src="/javascripts/script.js"></script>
<script>
/*
$(function() {
  $('.topbar').css('background', 'red');
});
*/
</script>

