<div id="footer">
	<ul class="support">
		<li>Powered by 
			<a href="http://vicuna.jp/" target="_blank" />Vicuna CMS</a> &amp; 
			<a href="http://nodejs.org/" target="_blank" />Node.js</a> &amp; 
			<a href="http://expressjs.com/" target="_blank" />Express</a> &amp; 
			<a href="http://looseleafjs.org/" target="_blank" />LooseLeaf <%= version %></a>
		</li>
	</ul>
	<address>
		Copyright &copy; <a href="<%= copyright.href %>"><%= copyright.text %></a> All Rights Reserved.
	</address>
</div>
<script src="/js/jquery-1.5.2.min.js"></script>
<script src="/js/common.js"></script>