<div id="header">
  <p class="siteName"><a href="/"><%= site.name %></a></p>
  <p class="description"><%= site.description %></p>
  <ul id="globalNavi">
    <% for (var i in globalNavi) { %>
      <li
      <% if (globalNavi[i].current) { %>
        class="current"
      <% } %>  
      ><a href="<%= globalNavi[i].href %>"><%= globalNavi[i].text %></a></li>  
    <% } %>
  </ul>
</div>
