@charset "UTF-8";

/*
Skin Name: Galaxy Skin - Core Style
Author: vicuna.jp
Licence: MIT Licence
*/


/* Yahoo fonts.css 2.7.0
http://developer.yahoo.net/yui/license.txt
- Font size Adjustment.
  http://developer.yahoo.com/yui/examples/fonts/fonts-size_source.html
*/ body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*========================================

  Elements

========================================*/

body {
	color: #eee;
	background-color: #3e3e3e;
}

/* Link
---------------*/

a:link {
	color: #ccc;
}

a:visited {
	color: #666;
}

a:hover {
	color: #fff;
}

a:focus,
textarea:focus,
input:focus {
	outline: 1px solid #333;
}

/* Text
---------------*/

h1 {
	margin: 0;
	padding: 15px 30px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	line-height: 1.5;
	font-size: 167%;
	color: #fff;
	background-color: #222;
}

body.mainIndex h1 {
	display: none;
}

h2 {
	margin: 1em 0;
	font-size: 131%;
	color: #fff;
}

h3 {
	margin-top: 2em;
	padding-bottom: 0.4em;
	border-bottom: 4px solid #222;
	font-size: 116%;
}

p {
	margin: 1em 0;
}

blockquote {
	margin: 1em 0 1em 20px;
	padding: 1px 20px;
	border: 1px solid #222;
	color: #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

pre {
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #232323 #4e4e4e #4e4e4e #232323;
	background-color: #3d3d3d;
	overflow: auto;
	width: 90%;
	_width: 95%; /* for IE6 */
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

em {
	padding: 2px 3px;
	font-weight: bold;
	color: #fff;
	background-color: #111;
	font-style: normal;
}

strong {
	color: deeppink;
}

/* List
---------------*/

ul,
ol {
	margin: 1em 30px;
	padding: 0;
	list-style-position: outside;
}

ul ul,ul ol,ul ol,ol ol {
	margin: 0.3em 0 0.3em 15px;
}

/* form
---------------*/

form {
	margin: 1em 0;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #292929;
}

fieldset {
	padding: 1px 0;
	border: none;
}

legend {
	padding: 3px 10px;
	background-color: #222;
}

input,
textarea {
	padding: 0.2em;
	border-width: 1px;
	border-style: solid;
	border-color: #171717 #333 #333 #171717;
	color: #eee;
	background-color: #222;
}

input:hover,
textarea:hover {
	border-color: #000;
}

textarea {
	padding: 0.5em 10px;
}

input.submit {
	padding: 5px 10px;
	border: none;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #78890c;
}

input.submit:hover {
	background-color: #b1c722;
}

input.radio {
	border: none;
	background-color: transparent;
	background-image: none;
}

/* Table
---------------*/

table {
	margin: 1em 0;
	border: 1px solid #111;
	background-color: #222;
}

caption {
	padding-bottom: 0.3em;
}

th,
td {
	padding: 0.3em 10px;
	border-collapse: separate;
	border-spacing: 1px;
}

th {
	border-right: 1px solid #ddd;
	color: #333;
	background-color: #f5f5f5;
}

td {
	border-right: 1px solid #191919;
	border-top: 1px solid #191919;
}

/* Others
---------------*/

hr {
	margin: 1.5em 0;
	border: none;
	border-top: 1px dotted #222;
}

/*========================================

  div#header

========================================*/

div#header {
	padding: 1px 0;
	background-color: #282828;
}

/* Website Title
---------------*/

div#header p.siteName {
	margin: 25px 30px 10px;
	line-height: 1;
	font-size: 144%;
	font-weight: bold;
}

div#header p.siteName a {
	text-decoration: none;
	color: #fff;
}

div#header p.siteName a:hover {
	color: #fff;
}

div#header p.description {
	margin: 0 30px 25px;
	font-size: 92%;
	color: #999;
}

/* ul#globalNavi
---------------*/

ul#globalNavi {
	margin: 0 0 -1px 0;
	padding: 0;
	line-height: 1;
	color: #fff;
	background-color: #1e1e1e;
	list-style-type: none;
}

ul#globalNavi li {
	margin: 0;
	padding: 0;
	float: left;
	/*
	width: 110px;
	*/
	text-align: center;
}

ul#globalNavi li a {
	border-right: 1px solid #1a1a1a;
	padding: 9px 20px;
	display: block;
	position: relative; /* for IE6 */
	color: #fff;
	background-color: #222;
	text-decoration: none;
}

ul#globalNavi li a:hover,
ul#globalNavi li.current a {
	color: #fff;
	background-color: #111;
}

/*========================================

  div#content

========================================*/

div#content {
	padding-bottom: 1px;
	border-top: 1px solid #222;
	background-color: #303030;
}

p.topicPath {
	margin: 0 30px 10px;
	padding-top: 8px;
	line-height: 1.6;
}

p.topicPath a {
	text-decoration: none;
}

p.topicPath span.current {
	padding: 1px 10px;
	color: #fff;
	background-color: #3e3e3e;
}

/*=========================
 > div#main
=========================*/

/* > div.entry
---------------*/

div.entry {
	margin: 1em 30px;
	padding: 1px 0;
	_height: 1px; /* for IE6 */
	*min-height: 1px; /* for IE7 */
}

/* body.archives */

body.archives div.entry {
	margin-top: 0;
}

/* Entry Title
---------------*/

div.entry h2 {
	margin-bottom: 0;
	padding: 0.3em 13px;
	border-left: 5px solid #161616;
	border-bottom: 1px dotted #111;
}

div.entry h2 a {
	text-decoration: none;
}

div.entry h2 a:link {
	color: #eee;
}

div.entry h2 a:visited {
	color: #444;
}

div.entry h2 a:hover {
	color: #fff;
	text-decoration: underline;
}

/* ul.info
---------------*/

div.entry ul.info {
	margin: 0 0 1em 0;
	padding: 0.3em 0;
	border-left: 5px solid #222;
	list-style-type: none;
	background-color: #292929;
}

div.entry ul.info li {
	margin: 0.3em 0;
	padding: 0 15px;
	border-right: 1px solid #000;
	color: #eee;
	float: left;
	font-size: 85%;
}

div.entry ul.info li a {
	text-decoration: none;
}

/*body.individual ul.info */

body.individual div.entry ul.info,
body.archives div.entry ul.info {
	margin: 0 -30px 1.5em;
	padding: 0.3em 30px;
	position: relative;
	top: -2px;
	background-color: #1e1e1e;
}

body.individual div.entry ul.info li,
body.archives div.entry ul.info li{
	border-right: none;
	border-left: 1px solid #000;
}

/* Text Style
---------------*/

div.textBody p {
	line-height: 1.7;
}

div.textBody h2 {
	margin-top: 2em;
}

div.textBody dl {
	padding: 0.5em 20px;
	border: 1px solid #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div.textBody dt {
	margin: 0.7em 0;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #252525;
	font-weight: bold;
	color: #b1c722;
}

div.textBody dd {
	margin: 0.5em 0;
}

/* ul.reaction
---------------*/

div.entry ul.reaction {
	margin: 1em 0;
	border-top: 1px solid #222;
	list-style-type: none;
}

div.entry ul.reaction li {
	margin: 0 10px 0 0;
	padding: 5px 10px 0 0;
	border-right: 1px solid #222;
	float: left;
}

/* page navi
---------------*/

p.archives {
	margin: 1em 30px;
}

p.return {
	margin: 0 30px;
	padding: 0.7em 0;
	text-align: right;
	clear: both;
}

/* Newer | Older */

ul#flip1 {
	margin: 0 0 0 30px;
	list-style-type: none;
	position: relative;
	top: 1px;
}

ul#flip1 li {
	float: left;
	width: 60px;
	font-size: 92%;
	text-align: center;
	line-height: 1;
}

ul#flip1 li a {
	margin-right: 2px;
	padding: 5px 0 3px;
	border-bottom: none;
	display: block;
	text-decoration: none;
	color: #eee;
	background-color: #222;
}

ul#flip1 li a:hover {
	color: #fff;
	background-color: #111;
}

ul#flip2 {
	margin: 1em 0;
	padding: 0.8em 15px;
	border: 1px solid #222;
	list-style-position: inside;
}

/*=========================
  div#Comments, 
  div#Trackbacks
=========================*/

div#comments,
div#trackback {
	margin: 2em 0;
	_height: 1px; /* for IE6 */
}

div#comments h2,
div#trackback h2 {
	padding: 0.5em 15px;
	font-size: 116%;
	color: #fff;
	background-color: #222;
}

div#comments dl.log dt,
div#trackback dl.log dt {
	margin: 0.8em 0 0;
	font-weight: bold;
}

div#comments dl.log dt span.name,
div#trackback dl.log dt span.name {
	color: #b1c722;
}

div#comments dl.log dt span.date,
div#trackback dl.log dt span.date {
	margin-left: 10px;
	color: #999;
	font-weight: normal;
}

div#comments dl.log dd,
div#trackback dl.log dd {
	margin: 0;
	padding: 0.8em 0 1em;
	border-bottom: 1px dotted #111;
}

div#comments dl.log dd p,
div#trackback dl.log dd p {
	margin: 0;
}

/* Comment form
---------------*/

form.post dl {
	margin: 0.5em 20px;
}

form.post p {
	margin: 1em 20px;
}

form.post dl dt {
	margin: 0.5em 0;
}

form.post dl dd {
	margin: 0;
}

form.post div.action {
	margin: 0.5em 20px 1em;
}

form.post div.action input {
	margin: 0 5px 0 0;
}

form.post textarea {
	width: 80%;
	max-width: 85%;
}

/* Trackback info
---------------*/

div#trackback dl.info {
	padding: 0.8em 15px;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #292929;
}

div#trackback dl.info dd {
	margin: 0.3em 20px;
}

div#trackback dl.info dd.URL {
	margin: 0.5em 0;
	padding: 0.5em 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #171717 #333 #333 #171717;
	background-color: #222;
	color: #b1c722;
}

/*=========================
  div#utilities
=========================*/

div#utilities p {
	margin: 0.2em 10px;
}

div#utilities dl {
	margin: 5px 0;
	padding-bottom: 5px;
}

div#utilities dl dt {
	margin: 8px 5px 5px;
	padding: 0 10px 1px;
	color: #fff;
	font-weight: bold;
}

div#utilities dl dd {
	margin: 0 5px;
	padding: 1px 0;
	border-top: 3px solid #1e1e1e;
	background-color: #272727;
}

div#utilities dl dd ul {
	margin: 5px 10px 5px 25px;
}

div#utilities dl dd ul li {
	margin: 0.5em 0;
}

div#utilities dl dd ul li a {
	text-decoration: none;
}

/* Feeds
---------------*/

div#utilities dl dd ul.feed {
	margin-left: 10px;
	list-style-type: none;
	list-style-position: outside;
}

div#utilities dl dd ul.feed li {
	margin-left: 0;
}

div#utilities dl dd ul.feed li a {
	padding-left: 20px;
	background: url(images/icon/icon_feed.gif) no-repeat;
}

/* div#utilities dl dd >  
---------------*/

div#utilities dl dd ul ul {
	margin-left: 15px;
}

div#utilities dl dd dl dt {
	background-color: transparent;
}

div#utilities dl dd dl dd {
	border-top: none;
}

div#utilities dl dd form {
	margin: 0;
	padding: 1px 5px;
	border: none;
}

div#utilities dl dd form legend {
	display: none;
}

div#utilities dl dd form input.inputField {
	width: 45%;
}

div#utilities dl dd form input.submit {
	padding: 0.2em 2px;
	font-size: 10px;
}

/*========================================

  div#footer

========================================*/

div#footer {
	padding: 1px 0 1em;
}

div#footer a {
	color: #aaa;
	text-decoration: none;
}

div#footer a:hover {
	color: #fff;
}

div#footer ul {
	margin: 0.7em 0;
	text-align: right;
	color: #ddd;
	font-size: 85%;
}

div#footer ul li {
	margin-left: 5px;
	display: inline;
}

div#footer address {
	text-align: right;
	font-style: normal;
	color: #eee;
}

/*========================================

  Class

========================================*/

/* Headline
---------------*/

dl.headline {
	margin: 0.5em 0;
}

dl.headline dt span.date {
	font-size: 85%;
}

dl.headline dd {
	margin: 0.5em 0 1.2em;
	padding-bottom: 1.2em;
	border-bottom: 3px solid #222;
}

dl.headline dd ul {
	margin: 0;
	list-style-type: none;
}

dl.headline dd ul li {
	margin: 0.3em 5px 0.3em 0;
	display: inline;
	font-size: 92%;
}

dl.headline dd ul li.textBody {
	display: block;
	font-size: 100%;
}

/* ul.thumb
---------------*/

ul.thumb,
div#utilities ul.thumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.thumb li {
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	overflow: hidden;
	font-size: 0;
}

ul.thumb li a img {
	border: none;
	border-left: 1px solid #303030;
	border-bottom: 1px solid #303030;
}

ul.thumb li a:hover img {
	border-bottom: 1px solid #b1c722;
}

/* Tag cloud
---------------*/

ul.tagCloud {
	margin: 1em 0;
	line-height: 1;
	_height: 1px; /* for IE6 */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div#utilities dl dd ul.tagCloud {
	margin: 0.2em 10px;
	padding: 6px 10px;
	background: #111;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%;
}

ul.tagCloud li a {
	text-decoration: none;
}

/* Tag level 1 > 6 */

ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #10c8f3;
}

ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #1d6dee;
}

ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #2851eb;
}

ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #3431e6;
}

ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #703ce0;
}

ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #b648f2;
}

/* On Mouse */
ul.tagCloud li a:hover {
	color: #fff;
}

/* Calendar
---------------*/

table.calendar {
	margin: 0 auto 5px;
	width: 95%;
}

table.calendar th,
table.calendar td {
	padding: 0;
	line-height: 1.8;
	font-size: 85%;
	text-align: center;
}

table.calendar th {
	line-height: 2;
	border-color: #111;
	font-weight: normal;
	color: #ccc;
	background-color: #1e1e1e;
}

table.calendar th.sat {
	font-weight: bold;
	background-color: #111;
}

table.calendar th.sun {
	font-weight: bold;
	background-color: #131313;
}

table.calendar td {
	color: #888;
	padding: 0;
	width: 14%;
}

table.calendar td a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #b1c722;
}

table.calendar td a:visited {
	color: #333;
	background-color: #111;
}

table.calendar td a:hover {
	border-color: #84dafe;
	color: #fff;
	background-color: #b1c722;
}

/* Option
---------------*/

.option {
	margin: 1em 30px;
	padding: 1px 10px;
	border: 1px solid #333;
}

/* Clearfix
---------------*/

ul#globalNavi,
div#content,
div.entry ul.info,
div.entry div.textBody,
ul.reaction,
ul.thumb,
ul.flip,
body.multi2 div#utilities,
body.multi2-l div#utilities {
	_height: 1px;
	min-height: 1px;
	/*¥*//*/
	height: 1px;
	overflow: hidden;
	/**/
}

ul#globalNavi:after,
div#content:after,
div.entry ul.info:after,
div.entry div.textBody:after,
div.entry ul.reaction:after,
ul.thumb:after,
ul.flip:after,
body.multi2 div#utilities:after,
body.multi2-l div#utilities:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

.clear {
	display: block;
	clear: both;
}

/* IE6 - なにがあってもカラム落ちを防ぐ
---------------*/

div#main,
div#utilities dl.navi,
div#utilities dl.others {
	_overflow: hidden;
}
