<div id="utilities2">
	<dl class="navi">
		<dt>Whiteboard</dt>
		<dd>
			<p>
			Whiteboard<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</p>
		</dd>
	</dl>
	<!--end navi-->
	<dl class="others">
		<dt>Chat</dt>
		<dd>
			<p>Chat Sample<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
</p>
		</dd>
	</dl>
	<!--end others-->
</div>
<!--end utilities-->
