/* html5 */
header,
footer {
  display: block;
}

/* common */

/* offset top */
body {
  padding-top: 65px; 
}

/* topbar */
.topbar {
  opacity: 0.8;
}

.topbar a.brand {
  color: #bfbfbf;
}

.topbar a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px #ccc;
}

.topbar a.brand:hover {
  color: #fff;
}

/* show when loginLink is clikced */
#loginForm {
  display: none; 
}

#loginForm .btn {
  display: none;
}

#loginLink {
  color: #666; 
}

#searchForm {
  margin-left: 30px;
}

/* hero */
.hero-unit {
  display: none;
}

/* content */
.container {
  width: 750px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.container .content {
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* shadow when hover posts */
.container .content:hover {
  -webkit-box-shadow:0px 0px 5px #999;
  -moz-box-shadow:0px 0px 5px #999;
  box-shadow:0px 0px 5px #999;
}

.page-header {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/* post's info */
.page-header h1 a {
  color: inherit;
}

.page-header .icon img {
  width: 48px;
  vertical-align: middle;
}

.page-header .timeago {
  line-height: 48px;
}

.page-header ul.info {
  text-align: left;
  list-style: none;
  margin: 0;
}

.page-header ul.info li {
  display: inline-block;
  /*float: right;*/
  margin: 0;
  padding: 0 10px 0 0;
}

footer {
  margin-top: 0;
  padding-top: 0;
}

/* scroll to top*/
#scrollToTop {
  position: fixed;
  top: 0;
  left: 120px;
  z-index: 10000;
}

.popover {
  position: fixed;
/*
  top: 45px !important;
  left: 5px !important;
*/
  top: auto !important;
  left: auto !important;
  bottom: 5px !important;
  left: 5px !important;
}

.popover .content {
  display: none;
}

.popover .title {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.popover .arrow {
  opacity: 0.4;
}

.popover .inner {
  width: 75px;
  opacity: 0.7;
  text-align: center;
}

.popover .inner h3 {
  padding: 0; /* padding to a */
}

.popover .inner a {
  font-size: 17px;
  color: inherit;
  display: block;
  width: 45px;
  padding: 9px 15px;
  text-decoration: none;
}



