<div id="utilities">
  <dl class="navi">
    <dt>Manage</dt>
    <dd>
      <ul>
        <li><a href="/admin/entry/add/">Post Entry</a></li>
        <li><a href="/admin/entry/list/">Edit Entries</a></li>
      </ul>
      <p></p>
      <ul>
        <li><a href="/admin/category/list/">Edit Categories</a></li>
        <li><a href="/admin/file/list/">Upload Files</a></li>
      </ul>
      <p></p>
      <ul>
        <li><a href="/admin/theme/list/">Change Theme</a></li>
      </ul>
    </dd>
  </dl>
  <!--end navi-->
  <dl class="others">
    <dt>Links</dt>
    <dd>
      <ul>
        <li><a href="/admin/logout/">Logout</a></li>
    </ul>
    </dd>
  </dl>
  <!--end others-->
</div>
<!--end utilities-->
